div{
    width: 800px;
    height: 100px;
    background-color:black;
    padding: 40px;
    margin: 20% auto;
   
    
    

}
p{
    background-color: aqua;
    color:black;
    padding:20px;
    text-align: justify;

}